.main {
    min-height: calc(100vh - 7rem);
}

.login-form {
    max-width: 400px;
    margin: auto;
}

.side-links li:hover,
.active {
    background-color: aliceblue;
    color: rgb(55, 52, 52);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.status-active {
    background-color: rgb(29, 159, 29);
    padding: 4px 8px;
    border-radius: 10px;
}

.status-inactive {
    background-color: rgb(245, 60, 60);
    padding: 4px 8px;
    border-radius: 10px;
}
